{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Django Blog</a></h1>
        <nav id="menu">
            <a href="{% url 'post_create' %}">New Post</a>
        </nav>
    </header>

    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <p>You're not logged in</p>
    <a href="{% url 'login' %}">LogIn</a>
    {% endif %}

    <div>{% block content %}{% endblock content %}</div>
</body>
</html>